.SplashScreenContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.WelcomeMessageContainer {
    width: 50%;
}

.ShowcaseContainer {
    width: 50%;
}