.SplashScreenContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.WelcomeMessageContainer {
    width: 50%;
}

.ShowcaseContainer {
    width: 50%;
}

.ShowcaseList {
    display: flex;
    flex-direction: column;
}

.BackgroundImage {
    display: flex;   
}