.HomeContentBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    
    span {
        color: var(--test-color6);
        font-size: 3rem;
        font-weight: 600;
        line-height: 2;
    }

    div {
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, var(--test-color6) 40%, var(--test-color6) 60%, rgba(255, 255, 255, 0)80%);
        margin-bottom: 2rem;
    }
}

.HomeContentContainer {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, var(--test-color5) 80%);
}

.HomeContent {
    width: 100%;
    padding: 2rem;
    padding-left: 0;

    div {
        background-color: white;
        padding: 1rem;
        padding-left: 0;
        box-shadow: 0 0 10px rgba(75, 74, 74, 0.274);
        margin: 0;

        p {
            border: 2px solid var(--test-color6);
            border-left: none;
            padding: 2rem;
            box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.397);
            margin: 0;
        }
    }
}

.ContactModuleContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    padding: 2rem;
}