.HomeContentBanner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    
    span {
        color: var(--test-color6);
        font-size: 3rem;
        font-weight: 600;
        line-height: 2;
        padding-left: 2rem;
    }

    div {
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, var(--test-color6) 0%, var(--test-color6) 10%, rgba(255, 255, 255, 0) 60%);
        margin-bottom: 2rem;
    }
}

.HomeContentContainer {
    display: flex;
    flex-direction: row;
}

.HomeContent {
    width: 100%;
    padding-left: 0;
    
    p {
        padding: 2rem;
        margin: 0;
    }
}

.ContactModuleContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    padding: 2rem;
}

.PageBreak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        font-size: 2rem;
        margin: 15px;
    }
    
    div {
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, var(--test-color6) 50%, var(--test-color6) 50%, rgba(255, 255, 255, 0) 80%);
        width: 80%;
        height: 3px;
    }
}