:root {
    --test-color1: #4CBB17;
    --test-color2: #f4f1de;
    --test-color3: #d90429;
    --test-color4: #edf2f4;
    --test-color5: #8d99ae;
    --test-color6: #2b2d42;
    --test-color7: #242424b0;
}